
.fade-fast.ng-enter,
.fade-fast.ng-leave {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.fade-fast.ng-enter {
    opacity: 0;
}
.fade-fast.ng-enter-active {
    opacity: 1;
}
.fade-fast.ng-leave {
    opacity: 1;
}
.fade-fast.ng-leave-active {
    opacity: 0;
}