<link href="styles/addpeople.css" rel="stylesheet">

<div class="attendeeList">
	<div class="row friend" ng-repeat="attendee in attendees">
		<div class="col-xs-2 text-center">
			<img class="friendPicture" height="50" width="50" src="{{ attendee.picture }}"/>
		</div>
		<div class="col-xs-8 col-xs-offset-2 text-center">
			<p>{{ attendee.name }}</p>
		</div>
	</div>
</div>

<div class="invite row">
		<button class="invitePerson" ng-click="showInput()">
			+
		</button>
	<p ng-show="visible">Invite More Friends</p>
	<input ng-model="personTel" ng-hide="visible" class="phoneNumber" type="tel" />
	<button id="tick" class="inviteAction" ng-hide="visible" ng-click="addPerson(); showInput()">
		<i class="fa fa-check"></i>
	</button>
	<button id="close" class="inviteAction" ng-hide="visible" ng-click="showInput()">
		<i class="fa fa-times"></i>
	</button>
</div>

<div id="done" class="row text-center">
	<a href="#vote">
		<button>
			<i class="fa fa-thumbs-o-up"></i>
		</button>
	</a>
</div>