<link rel="stylesheet" type="text/css" href="styles/booked.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


<div id="info">
	<div class="voted-to">
		<h3 class="text-center">Voted to Eet at {{ chosenPlaceName }}</h3>
	</div>
	<div>
		<img class="full-width" src="https://veghotpot.files.wordpress.com/2012/11/dsc_13471.jpg" alt="">
	</div>
	<div class="row" id="rest-info">
		<div class="col-xs-12 text-center">
			<strong>Dinner booked at {{ chosenTime }} with David, Emile, Fifi, Richard and Viraj</strong>
		</div>
	</div>
	<hr>
	<div class="row" id="rest-info">
		<div class="col-xs-6">
			<p>
				{{ chosenPlaceName }}<br>
				4A Meard Street<br>
				London W1F 0EF<br>
				+44 (0)20 3609 9524<br>
			</p>
			<p>
				<img class="tube" src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Underground_no-text.svg" alt=""> Tottenham Court Road
			</p>
			<button class="btn btn-success">Get directions</button>
		</div>

		<div class="col-xs-6">
			<img class="map" src="http://www.sohotheatre.com/mmlib/images/sohotheatre/map.png" alt="">
		</div>	
	</div>
</div>




