
<link rel="stylesheet" href="styles/vote.css"/>
<div id="map"></div>

<button id="refresher" ng-click="findPlaces()"></button>

<div class="voteOptions">
	<div class="row text-center" ng-repeat="candidate in placeCandidates">
		<div class="col-xs-8">
			<h4><strong>{{ candidate.name }}</strong></h4>
			<h5>{{ candidate.rating }} / 5</h5>
		</div>
		<div class="col-xs-4">
			<a href="#waiting">
				<button class="voteButton" ng-click="savePlace(candidate)">Vote</button>
			</a>
		</div>
	</div>
</div>

