<link rel="stylesheet" type="text/css" href="styles/vote.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


<div class="row">
	<div class="columns small-12 text-center">
		<h2 class="text-center">Waiting on the votes to come in...</h2>
		<h1><i class="fa fa-spinner fa-pulse"></i></h1>
	</div>
	<!-- <timer interval="1000" countdown="100">{{countdown}}</timer> -->
	<timer/>

	
</div>

<script src="https://raw.github.com/siddii/angular-timer/master/dist/angular-timer.min.js">
</script>


