<link rel="stylesheet" type="text/css" href="styles/waiting.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


<div class="row">
	<div class="col-sm-12 text-center">
		<h2>Waiting on your friends to finish voting...</h2>
		<div class="timer">
			<div class="timeChoose">
				<button><span id="timer">2:00:00</span></button>
			</div>
		</div>
		<h2>We'll send you an email with your reservation when the voting is finished!</h2>
	</div>	
</div>




