<link rel="stylesheet" type="text/css" href="styles/vote.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


<div class="row">
	<div class="columns small-12 text-center">
		<h2 class="text-center">Waiting on your friends to finish voting...</h2>
		<div>
			<h1><span id="timer">2:00:00</span><br>remaining</h1>
			<h1><i class="fa fa-spinner fa-pulse"></i></h1>
		</div>
		
		<h4>We'll send you an email with when the votes are counted!</h4>
	</div>	
</div>




