button {
	width: 200px;
	height: 40px;
	background: rgba(25, 25, 25, 0.3);
	border: none;
	border-radius: 10px;
	outline: none;
	color: #fff;
}

button:hover {
	background: rgba(25, 25, 25, 0.8);
	color: #fff;
}

.row {
	margin-top: 20px;
}