.attendeeList {
	width: 200px;
	margin: 0 auto;
	margin-top: 10px;
}

.invite {
	margin: 0 auto;
	width: 200px;
	height: 50px;
}

.friend {
	width: 200px;
	margin-bottom: 10px;
}

.friend p{
	margin-top: 10px;
	font-size: 18px;
}

.friendPicture {
	border-radius: 100%;
}

.invitePerson {
	border-radius: 100%;
	width: 50px;
	height: 50px;
	background: none;
	border: 2px solid #333;
	outline: none;
	font-size: 30px;
}

.invite p {
	float: right;
	margin-top: 15px;
}

.invite input {
	float: right;
	width: 130px;
	margin-top: 10px;
	height: 30px;
	border: none;
	border-bottom: 2px solid #333;
	background: none;
	outline: none;
}

.phoneNumber {

}

.inviteAction {
	width: 30px;
	height: 30px;
	margin-bottom: 20px;
	float: right;
	border: none;
	outline: none;
	border-radius: 100%;
}

#tick {
	background: rgba(46, 204, 113,1.0)
}

#close {
	margin-right: 20px;
	background: rgba(192, 57, 43,1.0);
}

#done {
	position: absolute;
	top: 450px;
	clear: both;
	width: 30%;
	left: 35%;
}

#done button {
	width: 80px;
	height: 80px;
	background: rgba(25, 25, 25, 0.3);
	border: none;
	border-radius: 100%;
	outline: none;
	color: #fff;
	font-size: 40px;
}

#done button:hover {
	background: rgba(25, 25, 25, 0.8);
}
